html {
  scroll-behavior: smooth;
}

body {
  font-family: "Montserrat", serif;
  background-color: rgb(255, 255, 255);
}
body.lock {
  width: 100%;
  overflow: hidden;
}

::-webkit-scrollbar {
  display: none;
}

.wrapper {
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
}

.main-container {
  max-width: 1276px;
  margin: 0 auto;
}

.work-tag {
  color: rgb(67, 97, 255);
}

.health-tag {
  color: rgb(6, 164, 79);
}

.harmony-tag {
  color: rgb(255, 67, 247);
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1276px;
  margin: 0 auto;
  padding: 12px 0px;
}
.header .header-logo {
  position: relative;
  padding: 8px 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  max-width: 140px;
  width: 100%;
  border-radius: 4px;
  z-index: 11;
}
.header .header-logo img {
  max-width: 21px;
  width: 100%;
}
.header .header-logo span {
  font-size: 12px;
  font-weight: 600;
  line-height: 130%;
  letter-spacing: 0.05em;
  text-align: left;
  text-transform: uppercase;
  color: rgb(24, 28, 41);
}
.header .header-list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 8px;
}
.header .header-list li .header-list-link {
  display: block;
  padding: 12px 20px;
  font-size: 12px;
  font-weight: 600;
  line-height: 130%;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  border-radius: 12px;
  color: rgb(24, 28, 41);
  transition: all 0.5s ease 0s;
  cursor: pointer;
}
@media (hover: hover) {
  .header .header-list li .header-list-link:hover {
    background-color: rgba(255, 70, 70, 0.1);
    color: rgb(255, 70, 70);
  }
}
.header .header-list li .header-list-link.inactive {
  pointer-events: none;
}
@media (max-width: 768px) {
  .header .header-list li .header-list-link {
    font-size: 24px;
    line-height: 152%;
    letter-spacing: 0.16em;
    text-align: left;
    text-transform: uppercase;
  }
}
@media (max-width: 768px) {
  .header .header-list {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    right: -200%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    visibility: hidden;
    opacity: 0;
    background-color: rgb(255, 255, 255);
    transition: all 0.5s ease 0s;
  }
  .header .header-list.active {
    visibility: visible;
    opacity: 1;
    right: 0;
  }
}
.header .menu-burger {
  display: none;
  cursor: pointer;
}
@media (max-width: 768px) {
  .header .menu-burger {
    position: relative;
    z-index: 11;
    display: block;
    width: 40px;
    height: 40px;
    border: none;
    background-color: transparent;
    transition: all 0.5s ease 0s;
  }
  .header .menu-burger span {
    position: absolute;
    left: calc(50% - 10px);
    width: 20px;
    height: 1px;
    background-color: rgb(24, 28, 41);
    transition: all 0.5s ease 0s;
  }
  .header .menu-burger span:first-child {
    top: 38%;
  }
  .header .menu-burger span:last-child {
    top: 57%;
  }
  .header .menu-burger.active span:first-child {
    animation: burgerTop 0.5s ease-in-out forwards 0s;
  }
  .header .menu-burger.active span:last-child {
    animation: burgerBottom 0.5s ease-in-out forwards 0s;
  }
  .header .menu-burger.inactive span:first-child {
    animation: burgerTopInactive 0.5s ease-in-out forwards 0s;
  }
  .header .menu-burger.inactive span:last-child {
    animation: burgerBottomInactive 0.5s ease-in-out forwards 0s;
  }
}

@keyframes burgerTop {
  0% {
    top: 38%;
    transform: rotate(0deg);
  }
  50% {
    top: 50%;
    transform: rotate(0deg);
  }
  100% {
    top: 50%;
    transform: rotate(45deg);
  }
}
@keyframes burgerTopInactive {
  0% {
    top: 50%;
    transform: rotate(45deg);
  }
  50% {
    top: 50%;
    transform: rotate(0deg);
  }
  100% {
    top: 38%;
    transform: rotate(0deg);
  }
}
@keyframes burgerBottom {
  0% {
    top: 57%;
    transform: rotate(0deg);
  }
  50% {
    top: 50%;
    transform: rotate(0deg);
  }
  100% {
    top: 50%;
    transform: rotate(-45deg);
  }
}
@keyframes burgerBottomInactive {
  0% {
    top: 50%;
    transform: rotate(-45deg);
  }
  50% {
    top: 50%;
    transform: rotate(0deg);
  }
  100% {
    top: 57%;
    transform: rotate(0deg);
  }
}
.main-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0px 8px;
  background: url("../images/bg-ball.png") no-repeat center center, url("../images/bg-snow.png") no-repeat center center, rgb(255, 70, 70);
  background-size: cover;
  border-radius: 20px 20px 0px 0px;
  text-align: center;
  color: rgb(255, 255, 255);
}
.main-section .main-content {
  max-width: 430px;
  width: 100%;
  padding: 120px 0px;
}
.main-section .main-content .main-subtitle {
  font-family: "Allura", serif;
  font-weight: 400;
  font-size: 24px;
  line-height: 100%;
  letter-spacing: 0.05em;
  text-align: center;
}
.main-section .main-content .main-top-subtitle {
  margin-bottom: 12px;
}
.main-section .main-content .main-title {
  margin-bottom: 12px;
  font-size: 32px;
  font-weight: 600;
  line-height: 150%;
  letter-spacing: 0.18em;
  text-align: center;
  text-transform: uppercase;
}
.main-section .main-content .main-link {
  display: inline-block;
  padding: 20px 32px;
  margin-bottom: 12px;
  font-size: 12px;
  font-weight: 600;
  line-height: 130%;
  letter-spacing: 0.05em;
  text-align: center;
  text-transform: uppercase;
  border-radius: 20px;
  background-color: rgb(24, 28, 41);
  color: rgb(255, 255, 255);
  transition: all 0.5s ease 0s;
  cursor: pointer;
}
@media (hover: hover) {
  .main-section .main-content .main-link:hover {
    background-color: rgb(255, 255, 255);
    color: rgb(24, 28, 41);
  }
}
@media (max-width: 500px) {
  .main-section .main-content {
    max-width: 364px;
  }
}

.about-section {
  padding: 60px 8px;
  background: url("../images/bg-snow.png") no-repeat center center, rgb(255, 70, 70);
  background-size: cover;
}
.about-section .about-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  border-radius: 20px;
  background-color: rgb(255, 255, 255);
  overflow: hidden;
}
.about-section .about-content .about-left-column {
  flex: 1 1 auto;
}
.about-section .about-content .about-left-column .about-left-content {
  display: flex;
  flex-direction: column;
  max-width: 426px;
  width: 100%;
  margin-left: 60px;
}
.about-section .about-content .about-left-column .about-left-content .about-subtitle {
  margin-bottom: 20px;
  font-family: "Allura", serif;
  font-size: 24px;
  font-weight: 400;
  line-height: 100%;
  letter-spacing: 0.05em;
  text-align: left;
  color: rgb(255, 70, 70);
}
.about-section .about-content .about-left-column .about-left-content .about-title {
  margin-bottom: 20px;
  font-size: 24px;
  font-weight: 600;
  line-height: 152%;
  letter-spacing: 0.16em;
  text-align: left;
  text-transform: uppercase;
  color: rgb(24, 28, 41);
}
.about-section .about-content .about-left-column .about-left-content .about-text {
  font-size: 16px;
  font-weight: 400;
  line-height: 148%;
  text-align: left;
  color: rgb(24, 28, 41);
}
@media (max-width: 1024px) {
  .about-section .about-content .about-left-column .about-left-content {
    max-width: 300px;
  }
}
@media (max-width: 768px) {
  .about-section .about-content .about-left-column .about-left-content {
    max-width: 256px;
  }
}
@media (max-width: 720px) {
  .about-section .about-content .about-left-column .about-left-content {
    margin-left: 20px;
  }
}
@media (max-width: 630px) {
  .about-section .about-content .about-left-column .about-left-content {
    max-width: 100%;
    margin-left: 0px;
  }
}
@media (max-width: 630px) {
  .about-section .about-content .about-left-column {
    padding: 0px 20px;
  }
}
.about-section .about-content .about-right-column {
  max-width: 638px;
  width: 100%;
  display: flex;
}
.about-section .about-content .about-right-column img {
  max-width: 100%;
  width: 100%;
  height: 528px;
  border-radius: 20px;
  object-fit: cover;
}
@media (max-width: 1200px) {
  .about-section .about-content .about-right-column {
    max-width: 500px;
    flex: 1 1 auto;
  }
}
@media (max-width: 900px) {
  .about-section .about-content .about-right-column {
    max-width: 376px;
  }
}
@media (max-width: 720px) {
  .about-section .about-content .about-right-column {
    max-width: 330px;
  }
}
@media (max-width: 630px) {
  .about-section .about-content .about-right-column {
    max-width: 100%;
  }
}
@media (max-width: 630px) {
  .about-section .about-content {
    padding-top: 60px;
    flex-direction: column;
    gap: 60px;
  }
}

.slider-section {
  padding: 60px 0px;
  background: url("../images/bg-snow.png") no-repeat center center, rgb(255, 70, 70);
  background-size: cover;
}
.slider-section .slider-subtitle {
  margin-bottom: 12px;
  font-family: "Allura", serif;
  font-size: 24px;
  font-weight: 400;
  line-height: 100%;
  letter-spacing: 0.05em;
  text-align: center;
  color: rgb(255, 255, 255);
}
.slider-section .slider-title {
  margin-bottom: 20px;
  font-size: 24px;
  font-weight: 600;
  line-height: 152%;
  letter-spacing: 0.16em;
  text-align: center;
  text-transform: uppercase;
  color: rgb(255, 255, 255);
}
.slider-section .slider-content .slider-wrapper {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto 20px;
  overflow: hidden;
}
.slider-section .slider-content .slider-wrapper .slider-line {
  position: relative;
  display: flex;
  align-items: center;
  gap: 20px;
  width: 100%;
  transition: all 0.5s ease 0s;
}
.slider-section .slider-content .slider-wrapper .slider-line .slide .slide-content p {
  font-size: 80px;
  font-weight: 600;
  line-height: 98px;
  text-align: center;
  text-transform: uppercase;
  color: rgb(255, 255, 255);
}
.slider-section .slider-content .slider-wrapper .slider-line .slide .slide-image {
  width: 200px;
  height: 200px;
  border-radius: 20px;
  overflow: hidden;
}
.slider-section .slider-content .slider-wrapper .slider-line .slide .slide-image img {
  max-width: 100%;
  width: 100%;
}
.slider-section .slider-content .slider-buttons {
  max-width: 1276px;
  width: 100%;
  display: flex;
  justify-content: end;
  margin: 0 auto;
  padding: 0px 8px;
  gap: 20px;
}
.slider-section .slider-content .slider-buttons .slider-left-btn svg {
  transform: rotate(180deg);
}
.slider-section .slider-content .slider-buttons .slider-btn {
  width: 56px;
  height: 56px;
  border: 1px solid rgb(255, 255, 255);
  border-radius: 20px;
  background-color: transparent;
  cursor: pointer;
  transition: all 0.5s ease 0s;
}
.slider-section .slider-content .slider-buttons .slider-btn svg path {
  stroke: rgb(255, 255, 255);
}
.slider-section .slider-content .slider-buttons .slider-btn:disabled {
  border: 1px solid rgba(255, 255, 255, 0.4);
  cursor: not-allowed;
}
.slider-section .slider-content .slider-buttons .slider-btn:disabled svg path {
  stroke: rgba(255, 255, 255, 0.4);
}
@media (hover: hover) {
  .slider-section .slider-content .slider-buttons .slider-btn:hover:not(:disabled) {
    background-color: rgb(255, 255, 255);
  }
  .slider-section .slider-content .slider-buttons .slider-btn:hover:not(:disabled) svg path {
    stroke: rgb(255, 70, 70);
  }
}

.best-section {
  padding: 60px 8px;
  background: url("../images/bg-snow.png") no-repeat center center, rgb(255, 70, 70);
  background-size: cover;
}
.best-section .best-subtitle {
  margin-bottom: 12px;
  font-family: "Allura", serif;
  font-size: 24px;
  font-weight: 400;
  line-height: 100%;
  letter-spacing: 0.05em;
  text-align: center;
  color: rgb(255, 255, 255);
}
.best-section .best-title {
  margin-bottom: 20px;
  font-size: 24px;
  font-weight: 600;
  line-height: 152%;
  letter-spacing: 0.16em;
  text-align: center;
  text-transform: uppercase;
  color: rgb(255, 255, 255);
}
.best-section .best-content .best-cards {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(1, 1fr);
  gap: 12px;
}
.best-section .best-content .best-cards .best-card {
  max-width: 310px;
  width: 100%;
  display: flex;
  flex-direction: column;
  border-radius: 20px;
  background-color: rgb(236, 243, 248);
  transition: all 0.5s ease 0s;
  cursor: pointer;
}
@media (hover: hover) {
  .best-section .best-content .best-cards .best-card:hover {
    transform: scale(1.05);
  }
}
.best-section .best-content .best-cards .best-card .card-image img {
  max-width: 100%;
  width: 100%;
}
.best-section .best-content .best-cards .best-card .card-text {
  flex: 1 1 auto;
  padding: 20px;
  border-radius: 20px;
  background-color: rgb(255, 255, 255);
}
.best-section .best-content .best-cards .best-card .card-text .card-tag {
  margin-bottom: 8px;
  font-size: 12px;
  font-weight: 600;
  line-height: 130%;
  letter-spacing: 0.05em;
  text-transform: uppercase;
}
.best-section .best-content .best-cards .best-card .card-text .card-name {
  font-size: 16px;
  font-weight: 600;
  line-height: 152%;
  letter-spacing: 0.08em;
  text-transform: uppercase;
  color: rgb(24, 28, 41);
}
@media (max-width: 500px) and (hover: hover) {
  .best-section .best-content .best-cards .best-card:hover {
    transform: scale(1.02);
  }
}
@media (max-width: 1300px) {
  .best-section .best-content .best-cards {
    grid-template-columns: repeat(2, 310px);
    grid-template-rows: repeat(2, 1fr);
    justify-content: space-evenly;
  }
}
@media (max-width: 768px) {
  .best-section .best-content .best-cards {
    justify-content: center;
  }
}
@media (max-width: 660px) {
  .best-section .best-content .best-cards {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(4, 1fr);
    justify-items: center;
  }
}

.explore-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 180px 8px;
  background: url("../images/bg-forest.png") no-repeat center center, url("../images/bg-snow.png") no-repeat center center, rgb(255, 70, 70);
  background-size: cover;
  border-radius: 0px 0px 20px 20px;
  text-align: center;
  color: rgb(255, 255, 255);
}
.explore-section .explore-content {
  max-width: 426px;
  width: 100%;
  margin: 0 auto;
}
.explore-section .explore-content .explore-title {
  margin-bottom: 20px;
  font-size: 24px;
  font-weight: 600;
  line-height: 152%;
  letter-spacing: 0.16em;
  text-align: center;
  text-transform: uppercase;
  color: rgb(255, 255, 255);
}
.explore-section .explore-content .explore-link {
  display: inline-block;
  padding: 20px 32px;
  margin-bottom: 20px;
  font-size: 12px;
  font-weight: 600;
  line-height: 130%;
  letter-spacing: 0.05em;
  text-align: center;
  text-transform: uppercase;
  border-radius: 20px;
  background-color: rgb(24, 28, 41);
  color: rgb(255, 255, 255);
  transition: all 0.5s ease 0s;
  cursor: pointer;
}
@media (hover: hover) {
  .explore-section .explore-content .explore-link:hover {
    background-color: rgb(255, 255, 255);
    color: rgb(24, 28, 41);
  }
}
.explore-section .explore-content .explore-subtitle {
  margin-bottom: 8px;
  font-family: Allura;
  font-size: 24px;
  font-weight: 400;
  line-height: 100%;
  letter-spacing: 0.05em;
  text-align: center;
  color: rgb(255, 255, 255);
}
.explore-section .explore-content .explore-timer {
  max-width: 344px;
  width: 100%;
  padding: 8px 0px 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  border-radius: 20px;
  background-color: rgba(255, 255, 255, 0.4);
}
.explore-section .explore-content .explore-timer .timer {
  width: 80px;
}
.explore-section .explore-content .explore-timer .time-number {
  font-size: 24px;
  font-weight: 600;
  line-height: 152%;
  letter-spacing: 0.16em;
  text-align: center;
  text-transform: uppercase;
  color: rgb(255, 255, 255);
}
.explore-section .explore-content .explore-timer .separator {
  width: 1px;
  height: 20px;
  background-color: rgba(255, 255, 255, 0.4);
}
.explore-section .explore-content .explore-timer p {
  font-size: 12px;
  font-weight: 600;
  line-height: 130%;
  letter-spacing: 0.05em;
  text-align: center;
  text-transform: uppercase;
  color: rgb(255, 255, 255);
}

.footer {
  max-width: 1276px;
  margin: 0 auto;
  padding: 60px 8px;
}
.footer .footer-contacts {
  margin-bottom: 60px;
}
.footer .footer-contacts .contacts-content {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 12px;
}
.footer .footer-contacts .contacts-content a {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 12px;
  padding: 20px;
  border-radius: 20px;
  background-color: rgb(236, 243, 248);
}
.footer .footer-contacts .contacts-content a .link-title {
  font-size: 24px;
  font-weight: 600;
  line-height: 152%;
  letter-spacing: 0.16em;
  text-align: center;
  text-transform: uppercase;
  color: rgb(24, 28, 41);
  transition: all 0.5s ease 0s;
}
.footer .footer-contacts .contacts-content a .link-subtitle {
  font-size: 16px;
  font-weight: 600;
  line-height: 152%;
  letter-spacing: 0.08em;
  text-align: center;
  text-transform: uppercase;
  color: rgb(24, 28, 41);
  transition: all 0.5s ease 0s;
}
@media (hover: hover) {
  .footer .footer-contacts .contacts-content a:hover .link-title,
  .footer .footer-contacts .contacts-content a:hover .link-subtitle {
    color: rgb(255, 70, 70);
  }
}
@media (max-width: 1200px) {
  .footer .footer-contacts .contacts-content a {
    max-width: 752px;
    width: 100%;
  }
}
@media (max-width: 1200px) {
  .footer .footer-contacts .contacts-content {
    grid-template-columns: repeat(1, 1fr);
    justify-items: center;
  }
}
.footer .footer-social {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 12px;
}
.footer .footer-social .social-content {
  max-width: 196px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.footer .footer-social .social-content .social-link {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 40px;
  width: 100%;
  min-height: 40px;
  height: 100%;
}
.footer .footer-social .social-content .social-link svg path {
  transition: all 0.5s ease 0s;
}
@media (hover: hover) {
  .footer .footer-social .social-content .social-link:hover svg path {
    stroke: rgb(255, 70, 70);
  }
}
.footer .footer-social .copyright {
  font-size: 16px;
  font-weight: 400;
  line-height: 148%;
  letter-spacing: 0%;
  text-align: center;
  color: rgb(24, 28, 41);
}
.footer .footer-social .caption-link {
  font-family: Allura;
  font-size: 24px;
  font-weight: 400;
  line-height: 100%;
  letter-spacing: 0.05em;
  text-align: center;
  color: rgb(24, 28, 41);
  transition: all 0.5s ease 0s;
}
@media (hover: hover) {
  .footer .footer-social .caption-link:hover {
    color: rgb(255, 70, 70);
  }
}

.gifts {
  padding: 60px 8px;
  border-radius: 20px;
  background: url("../images/bg-garland.png") no-repeat top center, rgb(255, 70, 70);
  background-size: contain;
}
.gifts .gifts-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}
.gifts .gifts-content .gifts-title {
  max-width: 426px;
  width: 100%;
  font-size: 32px;
  font-weight: 600;
  line-height: 150%;
  letter-spacing: 0.18em;
  text-align: center;
  text-transform: uppercase;
  color: rgb(255, 255, 255);
}
.gifts .gifts-content .tabs-container {
  max-width: 474px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 8px;
}
.gifts .gifts-content .tabs-container .tab {
  padding: 12px 20px;
  font-size: 12px;
  font-weight: 600;
  line-height: 130%;
  letter-spacing: 0.05em;
  text-align: left;
  text-transform: uppercase;
  color: rgb(255, 255, 255);
  border-radius: 12px;
  transition: all 0.5s ease 0s;
  cursor: pointer;
}
.gifts .gifts-content .tabs-container .tab.active {
  background-color: rgba(255, 255, 255, 0.2);
}
@media (hover: hover) {
  .gifts .gifts-content .tabs-container .tab:hover {
    background-color: rgba(255, 255, 255, 0.2);
  }
}
@media (max-width: 500px) {
  .gifts .gifts-content .tabs-container .tab {
    padding: 12px 8px;
  }
}
@media (max-width: 500px) {
  .gifts .gifts-content .tabs-container {
    max-width: 354px;
    gap: 0;
  }
}
.gifts .gifts-content .gifts-cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: minmax(320px, 342px);
  gap: 12px;
}
.gifts .gifts-content .gifts-cards .gifts-card {
  max-width: 310px;
  width: 100%;
  display: flex;
  flex-direction: column;
  border-radius: 20px;
  background-color: rgb(236, 243, 248);
  transition: all 0.5s ease 0s;
  cursor: pointer;
}
@media (hover: hover) {
  .gifts .gifts-content .gifts-cards .gifts-card:hover {
    transform: scale(1.05);
  }
}
.gifts .gifts-content .gifts-cards .gifts-card .gifts-card-image img {
  max-width: 100%;
  width: 100%;
}
.gifts .gifts-content .gifts-cards .gifts-card .gifts-card-text {
  flex: 1 1 auto;
  padding: 20px;
  border-radius: 20px;
  background-color: rgb(255, 255, 255);
}
.gifts .gifts-content .gifts-cards .gifts-card .gifts-card-text .gifts-card-tag {
  margin-bottom: 8px;
  font-size: 12px;
  font-weight: 600;
  line-height: 130%;
  letter-spacing: 0.05em;
  text-transform: uppercase;
}
.gifts .gifts-content .gifts-cards .gifts-card .gifts-card-text .gifts-card-name {
  font-size: 16px;
  font-weight: 600;
  line-height: 152%;
  letter-spacing: 0.08em;
  text-transform: uppercase;
  color: rgb(24, 28, 41);
}
@media (max-width: 1300px) {
  .gifts .gifts-content .gifts-cards {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
@media (max-width: 990px) {
  .gifts .gifts-content .gifts-cards {
    grid-template-columns: 1fr 1fr;
  }
}
@media (max-width: 650px) {
  .gifts .gifts-content .gifts-cards {
    grid-template-columns: 1fr;
  }
}

.top-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  width: 56px;
  height: 56px;
  bottom: 0;
  right: 0;
  margin: 0px 40px 40px 0px;
  border: none;
  box-shadow: inset 0 0 0 1px rgb(255, 70, 70);
  border-radius: 50%;
  background-color: rgb(255, 255, 255);
  color: rgb(255, 70, 70);
  opacity: 0;
  transform: scale(0);
  transition: all 0.5s ease 0s;
  cursor: pointer;
}
@media (max-width: 768px) {
  .top-btn {
    margin: 0px 15px 15px 0px;
  }
  .top-btn.visible {
    transform: scale(1);
    opacity: 1;
  }
}
@media (max-width: 768px) and (hover: hover) {
  .top-btn.visible:hover {
    transform: scale(1.05);
  }
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow-y: auto;
  overflow-x: hidden;
  background-color: rgba(24, 28, 41, 0.8);
  z-index: 12;
  opacity: 1;
}
.modal .modal-body {
  max-width: 400px;
  width: 100%;
  display: flex;
  flex-direction: column;
  border-radius: 20px;
  background-color: rgb(236, 243, 248);
}
.modal .modal-body .modal-image {
  position: relative;
  max-height: 230px;
  overflow: hidden;
}
.modal .modal-body .modal-image img {
  position: relative;
  top: -35px;
  max-width: 100%;
  width: 100%;
}
.modal .modal-body .modal-image .close-btn {
  position: absolute;
  padding: 10px;
  width: 40px;
  height: 40px;
  top: 12px;
  right: 12px;
  border: none;
  background-color: transparent;
  cursor: pointer;
}
.modal .modal-body .modal-image .close-btn::before, .modal .modal-body .modal-image .close-btn::after {
  content: "";
  position: absolute;
  width: 30px;
  height: 2px;
  top: 47%;
  left: 13%;
  border-radius: 5px;
  background-color: rgb(24, 28, 41);
}
.modal .modal-body .modal-image .close-btn::before {
  transform: rotate(45deg);
}
.modal .modal-body .modal-image .close-btn::after {
  transform: rotate(-45deg);
}
.modal .modal-body .modal-content {
  padding: 20px;
  border-radius: 20px;
  background-color: rgb(255, 255, 255);
}
.modal .modal-body .modal-content .gifts-card-tag {
  margin-bottom: 8px;
  font-size: 12px;
  font-weight: 600;
  line-height: 130%;
  letter-spacing: 0.05em;
  text-transform: uppercase;
}
.modal .modal-body .modal-content .gifts-card-name {
  margin-bottom: 8px;
  font-size: 16px;
  font-weight: 600;
  line-height: 152%;
  letter-spacing: 0.08em;
  text-transform: uppercase;
  color: rgb(24, 28, 41);
}
.modal .modal-body .modal-content .gifts-card-text {
  margin-bottom: 20px;
  font-size: 16px;
  font-weight: 400;
  line-height: 148%;
  letter-spacing: 0%;
  text-align: left;
}
.modal .modal-body .modal-content .gifts-card-superpowers-heading {
  margin-bottom: 10px;
  font-size: 12px;
  font-weight: 600;
  line-height: 130%;
  letter-spacing: 0.05em;
  text-align: left;
  text-transform: uppercase;
  color: rgb(24, 28, 41);
}
.modal .modal-body .modal-content .superpowers-content {
  display: flex;
  flex-direction: column;
}
.modal .modal-body .modal-content .superpowers-content .superpower-block {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 24px;
  gap: 12px;
}
.modal .modal-body .modal-content .superpowers-content .superpower-block .superpower-text {
  flex: 1 1 auto;
}
.modal .modal-body .modal-content .superpowers-content .superpower-block .snowflakes {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 11px;
}/*# sourceMappingURL=style.css.map */