html {
  scroll-behavior: smooth;
}

body {
  font-family: "Montserrat", serif;
  background-color: rgb(255, 255, 255);
}
body.lock {
  width: 100%;
  overflow: hidden;
}

::-webkit-scrollbar {
  display: none;
}

.wrapper {
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
}

.main-container {
  max-width: 1276px;
  margin: 0 auto;
}

.work-tag {
  color: rgb(67, 97, 255);
}

.health-tag {
  color: rgb(6, 164, 79);
}

.harmony-tag {
  color: rgb(255, 67, 247);
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 12px 0px;
}
.header .header-logo {
  padding: 8px 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  max-width: 140px;
  width: 100%;
  border-radius: 4px;
}
.header .header-logo img {
  max-width: 21px;
  width: 100%;
}
.header .header-logo span {
  font-size: 12px;
  font-weight: 600;
  line-height: 130%;
  letter-spacing: 0.05em;
  text-align: left;
  text-transform: uppercase;
  color: rgb(24, 28, 41);
}
.header .header-list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 8px;
}
.header .header-list li .header-list-link {
  display: block;
  padding: 12px 20px;
  font-size: 12px;
  font-weight: 600;
  line-height: 130%;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  border-radius: 12px;
  color: rgb(24, 28, 41);
  transition: all 0.5s ease 0s;
  cursor: pointer;
}
@media (hover: hover) {
  .header .header-list li .header-list-link:hover {
    background-color: rgba(255, 70, 70, 0.1);
    color: rgb(255, 70, 70);
  }
}

.main-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0px 8px;
  background: url("../images/bg-ball.png") no-repeat center center, url("../images/bg-snow.png") no-repeat center center, rgb(255, 70, 70);
  background-size: cover;
  border-radius: 20px 20px 0px 0px;
  text-align: center;
  color: rgb(255, 255, 255);
}
.main-section .main-content {
  max-width: 430px;
  width: 100%;
  padding: 120px 20px;
}
.main-section .main-content .main-subtitle {
  font-family: "Allura", serif;
  font-weight: 400;
  font-size: 24px;
  line-height: 100%;
  letter-spacing: 0.05em;
  text-align: center;
}
.main-section .main-content .main-top-subtitle {
  margin-bottom: 12px;
}
.main-section .main-content .main-title {
  margin-bottom: 12px;
  font-size: 32px;
  font-weight: 600;
  line-height: 150%;
  letter-spacing: 0.18em;
  text-align: center;
  text-transform: uppercase;
}
.main-section .main-content .main-link {
  display: inline-block;
  padding: 20px 32px;
  margin-bottom: 12px;
  font-size: 12px;
  font-weight: 600;
  line-height: 130%;
  letter-spacing: 0.05em;
  text-align: center;
  text-transform: uppercase;
  border-radius: 20px;
  background-color: rgb(24, 28, 41);
  color: rgb(255, 255, 255);
  transition: all 0.5s ease 0s;
  cursor: pointer;
}
@media (hover: hover) {
  .main-section .main-content .main-link:hover {
    background-color: rgb(255, 255, 255);
    color: rgb(24, 28, 41);
  }
}

.about-section {
  padding: 60px 8px;
  background: url("../images/bg-snow.png") no-repeat center center, rgb(255, 70, 70);
  background-size: cover;
}
.about-section .about-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 20px;
  background-color: rgb(255, 255, 255);
  overflow: hidden;
}
.about-section .about-content .about-left-column {
  flex: 1 1 auto;
}
.about-section .about-content .about-left-column .about-left-content {
  display: flex;
  flex-direction: column;
  max-width: 426px;
  width: 100%;
  margin-left: 60px;
}
.about-section .about-content .about-left-column .about-left-content .about-subtitle {
  margin-bottom: 20px;
  font-family: "Allura", serif;
  font-size: 24px;
  font-weight: 400;
  line-height: 100%;
  letter-spacing: 0.05em;
  text-align: left;
  color: rgb(255, 70, 70);
}
.about-section .about-content .about-left-column .about-left-content .about-title {
  margin-bottom: 20px;
  font-size: 24px;
  font-weight: 600;
  line-height: 152%;
  letter-spacing: 0.16em;
  text-align: left;
  text-transform: uppercase;
  color: rgb(24, 28, 41);
}
.about-section .about-content .about-left-column .about-left-content .about-text {
  font-size: 16px;
  font-weight: 400;
  line-height: 148%;
  text-align: left;
  color: rgb(24, 28, 41);
}
.about-section .about-content .about-right-column .about-right-content {
  display: flex;
  align-items: center;
  justify-content: center;
}
.about-section .about-content .about-right-column .about-right-content img {
  max-width: 100%;
  width: 100%;
  border-radius: 20px;
  object-fit: cover;
}

.slider-section {
  padding: 60px 0px;
  background: url("../images/bg-snow.png") no-repeat center center, rgb(255, 70, 70);
  background-size: cover;
}
.slider-section .slider-subtitle {
  margin-bottom: 12px;
  font-family: "Allura", serif;
  font-size: 24px;
  font-weight: 400;
  line-height: 100%;
  letter-spacing: 0.05em;
  text-align: center;
  color: rgb(255, 255, 255);
}
.slider-section .slider-title {
  margin-bottom: 20px;
  font-size: 24px;
  font-weight: 600;
  line-height: 152%;
  letter-spacing: 0.16em;
  text-align: center;
  text-transform: uppercase;
  color: rgb(255, 255, 255);
}
.slider-section .slider-content .slider-wrapper {
  padding: 0px 82px;
  max-width: 1276px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto 20px;
  overflow: hidden;
}
.slider-section .slider-content .slider-wrapper .slider-line {
  position: relative;
  display: flex;
  align-items: center;
  gap: 20px;
  width: 100%;
  transition: all 0.5s ease 0s;
}
.slider-section .slider-content .slider-wrapper .slider-line .slide .slide-content p {
  font-size: 80px;
  font-weight: 600;
  line-height: 98px;
  text-align: center;
  text-transform: uppercase;
  color: rgb(255, 255, 255);
}
.slider-section .slider-content .slider-wrapper .slider-line .slide .slide-image {
  width: 200px;
  height: 200px;
  border-radius: 20px;
  overflow: hidden;
}
.slider-section .slider-content .slider-wrapper .slider-line .slide .slide-image img {
  max-width: 100%;
  width: 100%;
}
.slider-section .slider-content .slider-buttons {
  max-width: 1276px;
  width: 100%;
  display: flex;
  justify-content: end;
  margin: 0 auto;
  padding: 0px 8px;
  gap: 20px;
}
.slider-section .slider-content .slider-buttons .slider-left-btn svg {
  transform: rotate(180deg);
}
.slider-section .slider-content .slider-buttons .slider-btn {
  width: 56px;
  height: 56px;
  border: 1px solid rgb(255, 255, 255);
  border-radius: 20px;
  background-color: transparent;
  cursor: pointer;
  transition: all 0.5s ease 0s;
}
.slider-section .slider-content .slider-buttons .slider-btn svg path {
  stroke: rgb(255, 255, 255);
}
.slider-section .slider-content .slider-buttons .slider-btn:disabled {
  border: 1px solid rgba(255, 255, 255, 0.4);
  cursor: not-allowed;
}
.slider-section .slider-content .slider-buttons .slider-btn:disabled svg path {
  stroke: rgba(255, 255, 255, 0.4);
}
@media (hover: hover) {
  .slider-section .slider-content .slider-buttons .slider-btn:hover:not(:disabled) {
    background-color: rgb(255, 255, 255);
  }
  .slider-section .slider-content .slider-buttons .slider-btn:hover:not(:disabled) svg path {
    stroke: rgb(255, 70, 70);
  }
}

.best-section {
  padding: 60px 8px;
  background: url("../images/bg-snow.png") no-repeat center center, rgb(255, 70, 70);
  background-size: cover;
}
.best-section .best-subtitle {
  margin-bottom: 12px;
  font-family: "Allura", serif;
  font-size: 24px;
  font-weight: 400;
  line-height: 100%;
  letter-spacing: 0.05em;
  text-align: center;
  color: rgb(255, 255, 255);
}
.best-section .best-title {
  margin-bottom: 20px;
  font-size: 24px;
  font-weight: 600;
  line-height: 152%;
  letter-spacing: 0.16em;
  text-align: center;
  text-transform: uppercase;
  color: rgb(255, 255, 255);
}
.best-section .best-content .best-cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 12px;
}
.best-section .best-content .best-cards .best-card {
  max-width: 310px;
  width: 100%;
  display: flex;
  flex-direction: column;
  border-radius: 20px;
  background-color: rgb(236, 243, 248);
  transition: all 0.5s ease 0s;
  cursor: pointer;
}
@media (hover: hover) {
  .best-section .best-content .best-cards .best-card:hover {
    transform: scale(1.05);
  }
}
.best-section .best-content .best-cards .best-card .card-image img {
  max-width: 100%;
  width: 100%;
}
.best-section .best-content .best-cards .best-card .card-text {
  flex: 1 1 auto;
  padding: 20px;
  border-radius: 20px;
  background-color: rgb(255, 255, 255);
}
.best-section .best-content .best-cards .best-card .card-text .card-tag {
  margin-bottom: 8px;
  font-size: 12px;
  font-weight: 600;
  line-height: 130%;
  letter-spacing: 0.05em;
  text-transform: uppercase;
}
.best-section .best-content .best-cards .best-card .card-text .card-name {
  font-size: 16px;
  font-weight: 600;
  line-height: 152%;
  letter-spacing: 0.08em;
  text-transform: uppercase;
  color: rgb(24, 28, 41);
}/*# sourceMappingURL=style.css.map */