$font-family: "Montserrat", serif;

$primary: rgba(255, 70, 70, 1);
$primary-10: rgba(255, 70, 70, 0.1);
$dark: rgba(24, 28, 41, 1);

$static-white: rgba(255, 255, 255, 1);
$static-white-40: rgba(255, 255, 255, 0.4);
$static-white-20: rgba(255, 255, 255, 0.2);

$tag-purple: rgba(67, 97, 255, 1);
$tag-pink: rgba(255, 67, 247, 1);
$tag-green: rgba(6, 164, 79, 1);

$content-background: rgba(236, 243, 248, 1);
$overlay: rgba(24, 28, 41, 0.8);
