// <IMPORT>===================================================
@import "variables";

//<COMMON STYLES>

html {
	scroll-behavior: smooth;
}

body {
	font-family: $font-family;

	background-color: $static-white;

	&.lock {
		width: 100%;
		overflow: hidden;
	}
}

::-webkit-scrollbar {
	display: none;
}

.wrapper {
	max-width: 1440px;
	width: 100%;
	margin: 0 auto;
}

.main-container {
	max-width: 1276px;
	margin: 0 auto;
}

.work-tag {
	color: $tag-purple;
}

.health-tag {
	color: $tag-green;
}

.harmony-tag {
	color: $tag-pink;
}

//</COMMON STYLES>
//<HEADER>

.header {
	display: flex;
	align-items: center;
	justify-content: space-between;

	max-width: 1276px;
	margin: 0 auto;
	padding: 12px 0px;

	.header-logo {
		position: relative;
		padding: 8px 0px;
		display: flex;
		align-items: center;
		justify-content: center;
		gap: 10px;

		max-width: 140px;
		width: 100%;

		border-radius: 4px;

		img {
			max-width: 21px;
			width: 100%;
		}

		span {
			font-size: 12px;
			font-weight: 600;
			line-height: 130%;
			letter-spacing: 0.05em;
			text-align: left;
			text-transform: uppercase;

			color: $dark;
		}

		z-index: 11;
	}

	.header-list {
		display: flex;
		align-items: center;
		justify-content: space-between;
		gap: 8px;

		li {
			.header-list-link {
				display: block;
				padding: 12px 20px;

				font-size: 12px;
				font-weight: 600;
				line-height: 130%;
				letter-spacing: 0.05em;
				text-transform: uppercase;

				border-radius: 12px;

				color: $dark;
				transition: all 0.5s ease 0s;
				cursor: pointer;

				@media (hover: hover) {
					&:hover {
						background-color: $primary-10;
						color: $primary;
					}
				}

				&.inactive {
					pointer-events: none;
				}

				@media (max-width: 768px) {
					font-size: 24px;
					line-height: 152%;
					letter-spacing: 0.16em;
					text-align: left;
					text-transform: uppercase;
				}
			}
		}

		@media (max-width: 768px) {
			position: fixed;
			width: 100%;
			height: 100%;
			top: 0;
			right: -200%;

			flex-direction: column;
			align-items: center;
			justify-content: center;

			visibility: hidden;
			opacity: 0;

			background-color: $static-white;

			transition: all 0.5s ease 0s;

			&.active {
				visibility: visible;
				opacity: 1;
				right: 0;
			}
		}
	}

	.menu-burger {
		display: none;
		cursor: pointer;

		@media (max-width: 768px) {
			position: relative;
			z-index: 11;
			display: block;
			width: 40px;
			height: 40px;

			border: none;
			background-color: transparent;

			transition: all 0.5s ease 0s;

			span {
				position: absolute;
				left: calc(50% - 10px);
				width: 20px;
				height: 1px;

				background-color: $dark;
				transition: all 0.5s ease 0s;
			}

			span:first-child {
				top: 38%;
			}

			span:last-child {
				top: 57%;
			}

			&.active {
				span:first-child {
					animation: burgerTop 0.5s ease-in-out forwards 0s;
				}

				span:last-child {
					animation: burgerBottom 0.5s ease-in-out forwards 0s;
				}
			}

			&.inactive {
				span:first-child {
					animation: burgerTopInactive 0.5s ease-in-out forwards 0s;
				}

				span:last-child {
					animation: burgerBottomInactive 0.5s ease-in-out forwards 0s;
				}
			}
		}
	}
}

@keyframes burgerTop {
	0% {
		top: 38%;
		transform: rotate(0deg);
	}

	50% {
		top: 50%;
		transform: rotate(0deg);
	}

	100% {
		top: 50%;
		transform: rotate(45deg);
	}
}

@keyframes burgerTopInactive {
	0% {
		top: 50%;
		transform: rotate(45deg);
	}

	50% {
		top: 50%;
		transform: rotate(0deg);
	}

	100% {
		top: 38%;
		transform: rotate(0deg);
	}
}

@keyframes burgerBottom {
	0% {
		top: 57%;
		transform: rotate(0deg);
	}

	50% {
		top: 50%;
		transform: rotate(0deg);
	}

	100% {
		top: 50%;
		transform: rotate(-45deg);
	}
}

@keyframes burgerBottomInactive {
	0% {
		top: 50%;
		transform: rotate(-45deg);
	}

	50% {
		top: 50%;
		transform: rotate(0deg);
	}

	100% {
		top: 57%;
		transform: rotate(0deg);
	}
}

//</HEADER>
//<MAIN SECTION>

.main-section {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 0px 8px;

	background: url("../images/bg-ball.png") no-repeat center center,
		url("../images/bg-snow.png") no-repeat center center, $primary;
	background-size: cover;

	border-radius: 20px 20px 0px 0px;
	text-align: center;
	color: $static-white;

	.main-content {
		max-width: 430px;
		width: 100%;
		padding: 120px 0px;

		.main-subtitle {
			font-family: "Allura", serif;
			font-weight: 400;
			font-size: 24px;
			line-height: 100%;
			letter-spacing: 0.05em;
			text-align: center;
		}

		.main-top-subtitle {
			margin-bottom: 12px;
		}

		.main-title {
			margin-bottom: 12px;

			font-size: 32px;
			font-weight: 600;
			line-height: 150%;
			letter-spacing: 0.18em;
			text-align: center;
			text-transform: uppercase;
		}

		.main-link {
			display: inline-block;
			padding: 20px 32px;
			margin-bottom: 12px;

			font-size: 12px;
			font-weight: 600;
			line-height: 130%;
			letter-spacing: 0.05em;
			text-align: center;
			text-transform: uppercase;

			border-radius: 20px;

			background-color: $dark;
			color: $static-white;

			transition: all 0.5s ease 0s;
			cursor: pointer;

			@media (hover: hover) {
				&:hover {
					background-color: $static-white;
					color: $dark;
				}
			}
		}

		@media (max-width: 500px) {
			max-width: 364px;
		}
	}
}

//</MAIN SECTION>
//<ABOUT SECTION>

.about-section {
	padding: 60px 8px;

	background: url("../images/bg-snow.png") no-repeat center center, $primary;
	background-size: cover;

	.about-content {
		display: flex;
		align-items: center;
		justify-content: space-between;
		gap: 20px;

		border-radius: 20px;

		background-color: $static-white;
		overflow: hidden;

		.about-left-column {
			flex: 1 1 auto;

			.about-left-content {
				display: flex;
				flex-direction: column;
				max-width: 426px;
				width: 100%;

				margin-left: 60px;

				.about-subtitle {
					margin-bottom: 20px;

					font-family: "Allura", serif;
					font-size: 24px;
					font-weight: 400;
					line-height: 100%;
					letter-spacing: 0.05em;
					text-align: left;

					color: $primary;
				}

				.about-title {
					margin-bottom: 20px;

					font-size: 24px;
					font-weight: 600;
					line-height: 152%;
					letter-spacing: 0.16em;
					text-align: left;
					text-transform: uppercase;

					color: $dark;
				}

				.about-text {
					font-size: 16px;
					font-weight: 400;
					line-height: 148%;
					text-align: left;

					color: $dark;
				}

				@media (max-width: 1024px) {
					max-width: 300px;
				}

				@media (max-width: 768px) {
					max-width: 256px;
				}

				@media (max-width: 720px) {
					margin-left: 20px;
				}

				@media (max-width: 630px) {
					max-width: 100%;
					margin-left: 0px;
				}
			}

			@media (max-width: 630px) {
				padding: 0px 20px;
			}
		}

		.about-right-column {
			max-width: 638px;
			width: 100%;
			display: flex;

			img {
				max-width: 100%;
				width: 100%;
				height: 528px;

				border-radius: 20px;

				object-fit: cover;
			}

			@media (max-width: 1200px) {
				max-width: 500px;
				flex: 1 1 auto;
			}

			@media (max-width: 900px) {
				max-width: 376px;
			}

			@media (max-width: 720px) {
				max-width: 330px;
			}

			@media (max-width: 630px) {
				max-width: 100%;
			}
		}

		@media (max-width: 630px) {
			padding-top: 60px;
			flex-direction: column;
			gap: 60px;
		}
	}
}

//</ABOUT SECTION>
//<SLIDER SECTION>

.slider-section {
	padding: 60px 0px;

	background: url("../images/bg-snow.png") no-repeat center center, $primary;
	background-size: cover;

	.slider-subtitle {
		margin-bottom: 12px;

		font-family: "Allura", serif;
		font-size: 24px;
		font-weight: 400;
		line-height: 100%;
		letter-spacing: 0.05em;
		text-align: center;

		color: $static-white;
	}

	.slider-title {
		margin-bottom: 20px;

		font-size: 24px;
		font-weight: 600;
		line-height: 152%;
		letter-spacing: 0.16em;
		text-align: center;
		text-transform: uppercase;

		color: $static-white;
	}

	.slider-content {
		.slider-wrapper {
			width: 100%;
			display: flex;
			align-items: center;
			justify-content: space-between;
			margin: 0 auto 20px;

			overflow: hidden;

			.slider-line {
				position: relative;
				display: flex;
				align-items: center;
				gap: 20px;
				width: 100%;

				transition: all 0.5s ease 0s;

				.slide {
					.slide-content {
						p {
							font-size: 80px;
							font-weight: 600;
							line-height: 98px;
							text-align: center;
							text-transform: uppercase;

							color: $static-white;
						}
					}

					.slide-image {
						width: 200px;
						height: 200px;
						border-radius: 20px;
						overflow: hidden;

						img {
							max-width: 100%;
							width: 100%;
						}
					}
				}
			}
		}

		.slider-buttons {
			max-width: 1276px;
			width: 100%;
			display: flex;
			justify-content: end;
			margin: 0 auto;
			padding: 0px 8px;
			gap: 20px;

			.slider-left-btn {
				svg {
					transform: rotate(180deg);
				}
			}

			.slider-btn {
				width: 56px;
				height: 56px;

				border: 1px solid $static-white;
				border-radius: 20px;
				background-color: transparent;

				cursor: pointer;
				transition: all 0.5s ease 0s;

				svg {
					path {
						stroke: $static-white;
					}
				}

				&:disabled {
					border: 1px solid $static-white-40;

					svg {
						path {
							stroke: $static-white-40;
						}
					}

					cursor: not-allowed;
				}

				@media (hover: hover) {
					&:hover:not(:disabled) {
						background-color: $static-white;

						svg {
							path {
								stroke: $primary;
							}
						}
					}
				}
			}
		}
	}
}

//</SLIDER SECTION>
//<BEST SECTION>

.best-section {
	padding: 60px 8px;

	background: url("../images/bg-snow.png") no-repeat center center, $primary;
	background-size: cover;

	.best-subtitle {
		margin-bottom: 12px;

		font-family: "Allura", serif;
		font-size: 24px;
		font-weight: 400;
		line-height: 100%;
		letter-spacing: 0.05em;
		text-align: center;

		color: $static-white;
	}

	.best-title {
		margin-bottom: 20px;

		font-size: 24px;
		font-weight: 600;
		line-height: 152%;
		letter-spacing: 0.16em;
		text-align: center;
		text-transform: uppercase;

		color: $static-white;
	}

	.best-content {
		.best-cards {
			display: grid;
			grid-template-columns: repeat(4, 1fr);
			grid-template-rows: repeat(1, 1fr);
			gap: 12px;

			.best-card {
				max-width: 310px;
				width: 100%;
				display: flex;
				flex-direction: column;

				border-radius: 20px;

				background-color: $content-background;

				transition: all 0.5s ease 0s;
				cursor: pointer;

				@media (hover: hover) {
					&:hover {
						transform: scale(1.05);
					}
				}

				.card-image {
					img {
						max-width: 100%;
						width: 100%;
					}
				}
				.card-text {
					flex: 1 1 auto;
					padding: 20px;

					border-radius: 20px;

					background-color: $static-white;

					.card-tag {
						margin-bottom: 8px;

						font-size: 12px;
						font-weight: 600;
						line-height: 130%;
						letter-spacing: 0.05em;
						text-transform: uppercase;
					}

					.card-name {
						font-size: 16px;
						font-weight: 600;
						line-height: 152%;
						letter-spacing: 0.08em;
						text-transform: uppercase;

						color: $dark;
					}
				}

				@media (max-width: 500px) {
					@media (hover: hover) {
						&:hover {
							transform: scale(1.02);
						}
					}
				}
			}

			@media (max-width: 1300px) {
				grid-template-columns: repeat(2, 310px);
				grid-template-rows: repeat(2, 1fr);
				justify-content: space-evenly;
			}

			@media (max-width: 768px) {
				justify-content: center;
			}

			@media (max-width: 660px) {
				grid-template-columns: repeat(1, 1fr);
				grid-template-rows: repeat(4, 1fr);
				justify-items: center;
			}
		}
	}
}

//</BEST SECTION>
//<EXPLORE SECTION>

.explore-section {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 180px 8px;

	background: url("../images/bg-forest.png") no-repeat center center,
		url("../images/bg-snow.png") no-repeat center center, $primary;
	background-size: cover;

	border-radius: 0px 0px 20px 20px;
	text-align: center;
	color: $static-white;

	.explore-content {
		max-width: 426px;
		width: 100%;
		margin: 0 auto;

		.explore-title {
			margin-bottom: 20px;

			font-size: 24px;
			font-weight: 600;
			line-height: 152%;
			letter-spacing: 0.16em;
			text-align: center;
			text-transform: uppercase;

			color: $static-white;
		}

		.explore-link {
			display: inline-block;
			padding: 20px 32px;
			margin-bottom: 20px;

			font-size: 12px;
			font-weight: 600;
			line-height: 130%;
			letter-spacing: 0.05em;
			text-align: center;
			text-transform: uppercase;

			border-radius: 20px;

			background-color: $dark;
			color: $static-white;

			transition: all 0.5s ease 0s;
			cursor: pointer;

			@media (hover: hover) {
				&:hover {
					background-color: $static-white;
					color: $dark;
				}
			}
		}

		.explore-subtitle {
			margin-bottom: 8px;

			font-family: Allura;
			font-size: 24px;
			font-weight: 400;
			line-height: 100%;
			letter-spacing: 0.05em;
			text-align: center;

			color: $static-white;
		}

		.explore-timer {
			max-width: 344px;
			width: 100%;
			padding: 8px 0px 12px;
			display: flex;
			justify-content: center;
			align-items: center;

			margin: 0 auto;

			border-radius: 20px;

			background-color: $static-white-40;

			.timer {
				width: 80px;
			}

			.time-number {
				font-size: 24px;
				font-weight: 600;
				line-height: 152%;
				letter-spacing: 0.16em;
				text-align: center;
				text-transform: uppercase;

				color: $static-white;
			}

			.separator {
				width: 1px;
				height: 20px;
				background-color: $static-white-40;
			}

			p {
				font-size: 12px;
				font-weight: 600;
				line-height: 130%;
				letter-spacing: 0.05em;
				text-align: center;
				text-transform: uppercase;

				color: $static-white;
			}
		}
	}
}

//</EXPLORE SECTION>
//<FOOTER>

.footer {
	max-width: 1276px;
	margin: 0 auto;
	padding: 60px 8px;

	.footer-contacts {
		margin-bottom: 60px;

		.contacts-content {
			display: grid;
			grid-template-columns: repeat(3, 1fr);
			gap: 12px;

			a {
				display: flex;
				flex-direction: column;
				align-items: center;
				justify-content: center;
				gap: 12px;
				padding: 20px;

				border-radius: 20px;
				background-color: $content-background;

				.link-title {
					font-size: 24px;
					font-weight: 600;
					line-height: 152%;
					letter-spacing: 0.16em;
					text-align: center;
					text-transform: uppercase;

					color: $dark;

					transition: all 0.5s ease 0s;
				}

				.link-subtitle {
					font-size: 16px;
					font-weight: 600;
					line-height: 152%;
					letter-spacing: 0.08em;
					text-align: center;
					text-transform: uppercase;

					color: $dark;

					transition: all 0.5s ease 0s;
				}

				@media (hover: hover) {
					&:hover {
						.link-title,
						.link-subtitle {
							color: $primary;
						}
					}
				}

				@media (max-width: 1200px) {
					max-width: 752px;
					width: 100%;
				}
			}

			@media (max-width: 1200px) {
				grid-template-columns: repeat(1, 1fr);
				justify-items: center;
			}
		}
	}

	.footer-social {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		gap: 12px;

		.social-content {
			max-width: 196px;
			width: 100%;
			display: flex;
			align-items: center;
			justify-content: space-between;

			.social-link {
				display: flex;
				align-items: center;
				justify-content: center;
				max-width: 40px;
				width: 100%;
				min-height: 40px;
				height: 100%;

				svg {
					path {
						transition: all 0.5s ease 0s;
					}
				}

				@media (hover: hover) {
					&:hover {
						svg {
							path {
								stroke: $primary;
							}
						}
					}
				}
			}
		}

		.copyright {
			font-size: 16px;
			font-weight: 400;
			line-height: 148%;
			letter-spacing: 0%;
			text-align: center;

			color: $dark;
		}
		.caption-link {
			font-family: Allura;
			font-size: 24px;
			font-weight: 400;
			line-height: 100%;
			letter-spacing: 0.05em;
			text-align: center;

			color: $dark;
			transition: all 0.5s ease 0s;

			@media (hover: hover) {
				&:hover {
					color: $primary;
				}
			}
		}
	}
}

//</FOOTER>
//<GIFTS SECTION>

.gifts {
	padding: 60px 8px;
	border-radius: 20px;
	background: url("../images/bg-garland.png") no-repeat top center, $primary;
	background-size: contain;

	.gifts-content {
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: 20px;

		.gifts-title {
			max-width: 426px;
			width: 100%;

			font-size: 32px;
			font-weight: 600;
			line-height: 150%;
			letter-spacing: 0.18em;
			text-align: center;
			text-transform: uppercase;

			color: $static-white;
		}

		.tabs-container {
			max-width: 474px;
			width: 100%;
			display: flex;
			align-items: center;
			justify-content: space-between;
			gap: 8px;

			.tab {
				padding: 12px 20px;

				font-size: 12px;
				font-weight: 600;
				line-height: 130%;
				letter-spacing: 0.05em;
				text-align: left;
				text-transform: uppercase;

				color: $static-white;

				border-radius: 12px;

				transition: all 0.5s ease 0s;
				cursor: pointer;

				&.active {
					background-color: $static-white-20;
				}

				@media (hover: hover) {
					&:hover {
						background-color: $static-white-20;
					}
				}

				@media (max-width: 500px) {
					padding: 12px 8px;
				}
			}

			@media (max-width: 500px) {
				max-width: 354px;
				gap: 0;
			}
		}

		.gifts-cards {
			display: grid;
			grid-template-columns: 1fr 1fr 1fr 1fr;
			grid-template-rows: minmax(320px, 342px);
			gap: 12px;

			.gifts-card {
				max-width: 310px;
				width: 100%;
				display: flex;
				flex-direction: column;

				border-radius: 20px;

				background-color: $content-background;

				transition: all 0.5s ease 0s;
				cursor: pointer;

				@media (hover: hover) {
					&:hover {
						transform: scale(1.05);
					}
				}

				.gifts-card-image {
					img {
						max-width: 100%;
						width: 100%;
					}
				}
				.gifts-card-text {
					flex: 1 1 auto;
					padding: 20px;

					border-radius: 20px;

					background-color: $static-white;

					.gifts-card-tag {
						margin-bottom: 8px;

						font-size: 12px;
						font-weight: 600;
						line-height: 130%;
						letter-spacing: 0.05em;
						text-transform: uppercase;
					}

					.gifts-card-name {
						font-size: 16px;
						font-weight: 600;
						line-height: 152%;
						letter-spacing: 0.08em;
						text-transform: uppercase;

						color: $dark;
					}
				}
			}

			@media (max-width: 1300px) {
				grid-template-columns: 1fr 1fr 1fr;
			}

			@media (max-width: 990px) {
				grid-template-columns: 1fr 1fr;
			}

			@media (max-width: 650px) {
				grid-template-columns: 1fr;
			}
		}
	}
}

.top-btn {
	display: flex;
	align-items: center;
	justify-content: center;

	position: fixed;
	width: 56px;
	height: 56px;
	bottom: 0;
	right: 0;
	margin: 0px 40px 40px 0px;

	border: none;
	box-shadow: inset 0 0 0 1px $primary;
	border-radius: 50%;

	background-color: $static-white;
	color: $primary;

	opacity: 0;
	transform: scale(0);
	transition: all 0.5s ease 0s;
	cursor: pointer;

	@media (max-width: 768px) {
		margin: 0px 15px 15px 0px;

		&.visible {
			transform: scale(1);
			opacity: 1;

			@media (hover: hover) {
				&:hover {
					transform: scale(1.05);
				}
			}
		}
	}
}

.modal {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	overflow-y: auto;
	overflow-x: hidden;
	background-color: $overlay;
	z-index: 12;
	opacity: 1;

	.modal-body {
		max-width: 400px;
		width: 100%;
		display: flex;
		flex-direction: column;

		border-radius: 20px;
		background-color: $content-background;

		.modal-image {
			position: relative;
			max-height: 230px;

			overflow: hidden;

			img {
				position: relative;
				top: -35px;

				max-width: 100%;
				width: 100%;
			}

			.close-btn {
				position: absolute;
				padding: 10px;
				width: 40px;
				height: 40px;
				top: 12px;
				right: 12px;

				border: none;
				background-color: transparent;

				cursor: pointer;

				&::before,
				&::after {
					content: "";
					position: absolute;
					width: 30px;
					height: 2px;
					top: 47%;
					left: 13%;

					border-radius: 5px;
					background-color: $dark;
				}

				&::before {
					transform: rotate(45deg);
				}

				&::after {
					transform: rotate(-45deg);
				}
			}
		}

		.modal-content {
			padding: 20px;

			border-radius: 20px;
			background-color: $static-white;

			.gifts-card-tag {
				margin-bottom: 8px;

				font-size: 12px;
				font-weight: 600;
				line-height: 130%;
				letter-spacing: 0.05em;
				text-transform: uppercase;
			}

			.gifts-card-name {
				margin-bottom: 8px;

				font-size: 16px;
				font-weight: 600;
				line-height: 152%;
				letter-spacing: 0.08em;
				text-transform: uppercase;

				color: $dark;
			}

			.gifts-card-text {
				margin-bottom: 20px;

				font-size: 16px;
				font-weight: 400;
				line-height: 148%;
				letter-spacing: 0%;
				text-align: left;
			}

			.gifts-card-superpowers-heading {
				margin-bottom: 10px;

				font-size: 12px;
				font-weight: 600;
				line-height: 130%;
				letter-spacing: 0.05em;
				text-align: left;
				text-transform: uppercase;

				color: $dark;
			}

			.superpowers-content {
				display: flex;
				flex-direction: column;

				.superpower-block {
					display: flex;
					align-items: center;
					justify-content: space-between;
					height: 24px;

					gap: 12px;

					.superpower-text {
						flex: 1 1 auto;
					}

					.snowflakes {
						display: flex;
						align-items: center;
						justify-content: space-between;
						gap: 11px;
					}
				}
			}
		}
	}
}
//</GIFTS SECTION>
